<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.ravejoy.github" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="io.restassured" level="WARN"/>
  <logger name="org.apache.http" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
